.week {

	background-color: grey;

	display: grid;

	grid-template-columns: 7rem repeat(36, 3rem);
	grid-template-rows: repeat(5, 5rem);

	gap: 2px;

	& > * {
		box-shadow: 0 0 0 2px;
	}
}

.lesson {
	overflow: hidden;
	background-color: rgba(0, 255, 255, 0.445);

	transition: background-color;
	overflow-wrap: break-word;

	&:hover {
		background-color: rgb(127, 255, 212);
		z-index: 10;
	}
}

.header {
	background-color: blueviolet;
	grid-column-start: 1;
}