.week {

	background-color: grey;

	display: grid;

	grid-template-columns: 7rem repeat(36, 3rem);
	grid-template-rows: 2rem repeat(5, 7rem);

	overflow: auto;

	gap: 2px;
	border: black solid 2px;

	& > * {
		box-shadow: 0 0 0 2px black;
	}
}

.lesson {
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.658);

	transition: background-color 0.5s;
	overflow-wrap: break-word;

	&:hover {
		background-color: white;
		z-index: 10;
	}
}

.header {
	background-color: #392b54;
	grid-column-start: 1;

	font-weight: 500;
	color: white;
	display: flex;

	justify-content: center;
}